a.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #1b6ec2;
    padding-right: 1rem;
}

a {
    color: #1b6ec2;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056a3;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border: none;
    border-radius: 5px;
}

.navbar {
    background-color: #f5f5f5;
    padding: 1rem;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    button.accept-policy:hover {
        background-color: #e5e5e5;
    }

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.btn-primary:hover {
    animation: pulse 0.5s ease-in-out;
}
